@model Task_1.Models.User

<h2>User Profile</h2>

<table class="table">
    <tr>
        <th>Username:</th>
        <td>@Model.Username</td>
    </tr>
    <tr>
        <th>Full Name:</th>
        <td>@Model.FullName</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Role:</th>
        <td>@Model.Role</td>
    </tr>
</table>
